body {
  background: #f4f4f4;
  padding: 0;
  margin: 0;
  font-size: 16px;
  min-width: 61em;
}

header {
  height: 3.375em;
  background-color: #fff059;
  border-bottom: 1px solid #d9d9d9;
}

main {
  section {
    margin: 0 auto;
    max-width: 62em;
    padding: 1em;
    .product {
      border-bottom: 1px solid #ddd;
      margin-bottom: 1.5em;
      .product--image {
        display: inline-block;
        margin: .5em;
        width: 25em;
        box-sizing: border-box;
        vertical-align: top;
        border: 1px solid #ddd
      }
      .product--description {
        display: inline-block;
        width: 32em;
        padding: .5em 2em;
        box-sizing: border-box;
        vertical-align: top;
        .ch-price {
          font-size: 2em;
        }
        div span {
          display: inline-block;
          min-width: 5em;
          vertical-align: middle;
        }
        .ch-btn {
          margin: .5em 0;
        }
        p {
          color: #999;
          font-size: 12px;
          margin-bottom: 2em;
        }

        .product--carousel {
          .ch-carousel-prev {
            left: -16px;
          }
          .ch-carousel-prev, .ch-carousel-next {
            top: 35%;
          }
          .ch-carousel-disabled {
            display: block;
            opacity: 0.7;
            cursor: default;
          }
        }
      }
    }
    .product--tab-questions {
      .product--tab-questions__info {
        color: #3a87ad;
      }
      .product--tab-questions__ok {
        color: #468847;
      }
      p {
        padding-left: 2.5em;
      }
    }
  }
  h1 {
    text-align: center;
  }
}